API_URL=https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline
API_KEY=your_visual_crossing_api_key_here

WEATHER_CACHE_TTL_SECONDS=600
RATE_LIMIT_WINDOW_SECONDS=60
RATE_LIMIT_MAX_REQUESTS=60
RATE_LIMIT_PREFIX=rate_limit:weather
TRUST_PROXY=1